*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
}

p{
    font-weight: 300;
    color: #111;
    text-align: center;
    font-size: 30px;
    margin-top: 15px;
}

header{
    position: fixed;
    top: 0%;
    left: 0%;
    padding: 20px 10px;
    width: 100%;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.5s;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.logo{
    color: rgb(230, 225, 225);
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;
}
.logo span{
    color: aqua;
    text-align: center;
    font-size: 50px;
}

.navbar{
    display: flex;
    position: relative;
    }
    .navbar li{
        list-style: none;
    }
    .navbar a{
        /*color: orangered;*/
        text-decoration: none;
        margin-left: 30px;
        font-weight: 700;
    }

    .btn-reserve{
        padding: 10px 20px;
        background: aqua;
        margin-top: -10px;
        text-transform: uppercase;
        
    }

    .btn-reserve:hover{
        background: aqua;
        transition: ease-out;
    }

    header .navbar li a:hover{
        color: aqua;
        border-bottom: 2px solid aqua;
    }
    
    .banniere{
        position: relative;
        width: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        height: 200px;
        justify-content: center;
        background-image: url(images/front-view-woman-working-service-industry.jpg);
        background-size: 80%;
        box-shadow: rgba(0, 0, 0, 0,24);
        margin-top: 110px;
        }

    .banniere .contenu{
        max-width: 80%;
        text-align: center;
       }
    .banniere .contenu h2{
        color: rgb(217, 211, 211);
        font-size: 4em;
        text-transform: capitalize;
        
    }
    .contenu p:nth-child(2){
        color: rgb(243, 239, 239);
        font-size: 1.2em;
    }
    section{
        padding: 100px;
    }
    .row{
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .row .col50{
        position: relative;
        width: 48%;
        justify-content: center;
        align-items: center;
        color: black;

    }

    .row .col50 h2{
        margin-bottom: 20px;
    }

    .titre-text{
        color: #fdf5f5;
        font-size: 2em;
        font-weight: 300;
        text-transform: capitalize;
    }

    .titre-text span{
        color: aqua;
        font-size: 1.5em;
        font-weight: 700px;
    }

    .row .col50 img{
        height: 600px;
        width: 600px;
        position: relative;
    }

    .titre{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .temoignage{
        background-image: url(images/WhatsApp\ Image\ 2024-02-10\ à\ 14.06.11_6331b4a0.jpg);
        background-size: cover;
     }
     
     .temoignage .contenu{
        display: flex;
        margin-top: 40px;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
    }
    
    .temoignage .contenu .box{
        width: 340px;
        margin: 20px;
        background: aqua;
        display: flex;
        justify-content: center;
        flex-direction: column;
        border-radius: 15px;
        padding: 40px;
    }
    
    .temoignage .contenu .box .imbox{
        width: 80px;
        height: 80px;
        border-radius: 10px;
        position: relative;
        margin-bottom: 100px;
        overflow: hidden;
    }
    
    .temoignage .contenu .box .imbox img{
        position: relative;
        width: 100%;
        height: 100%;
        top: 0%;
        left: 0%;
        object-fit: cover;
        justify-content: center;
        align-items: center;
    }
    
    .temoignage .contenu .box .text{
        text-align: center;
        color: #ffffff;
        font-style: italic;
    }
    
    .temoignage .contenu .box .text h3{
        color: #e2dddd;
        margin-top: 20px;
        font-size: 1em;
        font-weight: 600;
    }
    
.Contact{
    background-image: url(images/WhatsApp\ Image\ 2024-02-10\ à\ 14.20.26_8fc72467.jpg);
    background-size: cover;
    box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.8);
    width: 100%;
    background-position: unset;
}

.contactform{
    padding: 65px;
    background: #fff;
    box-shadow: 5px 15px 50px rgba(0, 0, 0, 0.8);
    max-width: 500px;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    margin-left: 38%;
}

.contactform h3{
    color: #000;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.contactform .inputboite input,
.contactform .inputboite textarea{
width: 100%;
border: 20px solid #f5f1f1;
padding: 20px;
color: #111;
outline: none;
font-size: 16px;
font-weight: 300;
resize: none;
}

.contactform .inputboite input[type="submit"]{
    font-size: 1em;
    font-weight: 500;
    color: #fff;
    background: aqua;
    display: inline-block;
    cursor: pointer;
    text-transform: unset;
    text-decoration: none;
    letter-spacing: 3px;
    outline: none;
    border: none;
    transition: 0.5px;
    max-width: 120px;
    align-items: center;
    justify-content: center;
}

.copyright{
    padding: 20px 40px;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    background: rgba(228, 222, 222,);
    text-align: center;
}

.copyright p:nth-child(1){
    color: rgb(25, 43, 43);
}

.copyright a {
    color: aqua;
    text-decoration: none;
    font-weight: 600;
    font-style: italic;
}
.Contact .titre-text span{
    color: aqua;
    font-size: 2em;
}

header .navbar li a{
    color: rgb(6, 6, 6);
   }